<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<package name="com.cstify.common.vo"/>
		<package name="com.snc.gift.vo"/>
		<package name="com.snc.gift.domain"/>
		<package name="com.snc.gift.dto"/>
	</typeAliases>
    <mappers>
		<mapper resource="mapper/adminMapper.xml"/>
        <mapper resource="mapper/giftMapper.xml"/>
        <mapper resource="mapper/memberMapper.xml"/>
        <mapper resource="mapper/orderGiftMapper.xml"/>
        <mapper resource="mapper/partnerMapper.xml"/>
		<mapper resource="mapper/tenantMapper.xml"/>
		<mapper resource="mapper/userMapper.xml"/>
    </mappers>
</configuration>