<!-- <?xml version=“1.0” encoding=“UTF-8” ?> -->
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.snc.gift.mapper.PartnerMapper">
    <select id="getPartnerNoByDomain" parameterType="String" resultType="Long">
        select partner_no
          from partner_domain
         where domain_name like concat('%',#{domainName},'%')
         limit 1
    </select>

    <select id="getPartnerUser" resultType="PartnerVo">
        select t3.tenant_no
             , t3.partner_no
             , t3.parent_partner_no
             , t4.partner_domain_no
          from users t1
               inner join user_partner t2 on t1.user_no = t2.user_no
               inner join partner t3 on t2.partner_no = t3.partner_no
               left outer join partner_domain t4 on t3.partner_no = t4.partner_no
         where t1.user_no = #{userNo}
         limit 1
    </select>
</mapper>